btop/
dconf/
gh/
go/
google-chrome/
gtk-*/
nextjs-nodejs/
nwg-look/
pulse/
pupgui/
qt6ct/
session/
Thunar/

VSCodium/
!VSCodium/User/settings.json

xfce4/
xsettingsd/
yay/

filetypesrc
kdeglobals
mimeapps.list
pavucontrol.ini
QtProject.conf
trashrc
