@import "colors/color.css";

* {
    all: unset;
    font-family: "Monocraft", "JetBrains Nerd Font Propo", monospace;
    font-size: 14px;
}

window#waybar.pill {
    background-color: transparent;
}


#clock {
    background-color: @bg_overlay;
    color: @fg_primary;
    border-radius: 999px;
    padding: 2px 20px;
}

#workspaces button {
    background-color: @bg_overlay;
    color: @fg_primary;
    border-radius: 999px;
    padding: 2px 8px;
    margin: 0 1px;
}

#workspaces button.active {
    background-color: @accent;
}

#cpu,
#memory,
#custom-gpu {
    background-color: @bg_overlay;
    color: @fg_primary;
    border-radius: 999px;
    padding: 2px 10px;
    margin: 0 2px;
}

#bluetooth,
#pulseaudio {
    background-color: @bg_overlay;
    color: @fg_primary;
    border-radius: 999px;
    padding: 2px 10px;
    margin: 0 4px;
}

#pulseaudio {
    margin: 0 0;
}

#network {
    background-color: @bg_overlay;
    color: @fg_primary;
    border-radius: 999px;
    padding: 2px 10px;
}